USE [master]
GO
/****** Object:  Database [RELEASECOM]    Script Date: 19/12/2018 09.36.16 ******/
CREATE DATABASE [RELEASECOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RELEASECOM', FILENAME = N'D:\Database\Main\RELEASECOM.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RELEASECOM_log', FILENAME = N'D:\Database\Main\RELEASECOM_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RELEASECOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RELEASECOM]
GO
/****** Object:  Table [dbo].[MstCategory]    Script Date: 19/12/2018 09.36.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MstCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Categori] [varchar](50) NULL,
 CONSTRAINT [PK_MstCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 19/12/2018 09.36.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriID] [int] NULL,
	[Title] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[Price] [decimal](18, 0) NULL,
	[Photo1] [varbinary](max) NULL,
	[Photo2] [varbinary](max) NULL,
	[Photo3] [varbinary](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MstCategory] ON 

INSERT [dbo].[MstCategory] ([ID], [Categori]) VALUES (1, N'Sepatu')
INSERT [dbo].[MstCategory] ([ID], [Categori]) VALUES (2, N'Baju')
INSERT [dbo].[MstCategory] ([ID], [Categori]) VALUES (3, N'Celana')
SET IDENTITY_INSERT [dbo].[MstCategory] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
